@import url(https://fonts.googleapis.com/css?family=Montserrat);

html, body {
    width: 100%;
    height: 100%;
    background-color: black;

    font-family: 'Montserrat', Helvetica, sans-serif; 
	font-weight: normal; 
}

.navbar{
    font-size:x-large;
}


.orbit{
	position: absolute;
	border-radius: 50%;
	border: none;
	top: 50%;
    left: 50%;
    animation-name: spin-right;
    animation-timing-function: linear;
	animation-iteration-count: infinite;
}

.mercury.icon:before {
    content: "\263F";
}
.venus.icon:before {
    content: "\2640";
}
.earth.icon:before {
    content: "\2641";
}
.mars.icon:before {
    content: "\2642";
}
.jupiter.icon:before {
    content: "\2643";
}
.saturn.icon:before {
    content: "\2644";
}
.uranus.icon:before {
    content: "\26E2";
}
.neptune.icon:before {
    content: "\2646";
}
.sun.icon:before{
    content: "\2609";
}
.planet{
	position: absolute;
	border-radius: 50%;
	top:0%;
    left:50%;
}

.selectable{
    cursor: pointer;
}

.highlight{
    box-shadow: 0 0 10px yellow;
}

.info{
    margin-top: 60px;
}

.planetinfo{
    color: white;
    width: 33vw;
    margin-left: 10px;
}
    .planetinfo-label{
        font-size: small;
        font-weight: 100;
        margin-left: 1vw;
    }

    .planetinfo-figure{
        font-size: small;
        font-weight: 800;
        text-align: right;
        float:right;
        margin-right: 1vw;
    }

.hidden {
	display: none;
}

@-webkit-keyframes spin-right {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spin-right {
  100% {
    transform: rotate(360deg);
  }
}
